# node
*.js
!/bin/initemplate.js
!jest.config.js
*.d.ts
!/src/@types/*.d.ts
node_modules

# webpack
!webpack.config.js
dist

# pipenv
.venv

# linter
!.eslintrc.js

# mac
.DS_Store

# vscode
.vscode

# coverage
coverage

# other
tmp
